# Note this file mostly matches the isolinux.cfg file from the Fedora 
# Server DVD iso. Diff this file with that file in the future to pick up
# changes.
serial 0
default vesamenu.c32
timeout 600

display boot.msg

# Clear the screen when exiting the menu, instead of leaving the menu displayed.
# For vesamenu, this means the graphical background is still displayed without
# the menu itself for as long as the screen remains in graphics mode.
menu clear
menu background splash.png
menu title RHEL CoreOS Installer 
menu vshift 8
menu rows 18
menu margin 8
#menu hidden
menu helpmsgrow 15
menu tabmsgrow 13

# Border Area
menu color border * #00000000 #00000000 none

# Selected item
menu color sel 0 #ffffffff #00000000 none

# Title bar
menu color title 0 #ff7ba3d0 #00000000 none

# Press [Tab] message
menu color tabmsg 0 #ff3a6496 #00000000 none

# Unselected menu item
menu color unsel 0 #84b8ffff #00000000 none

# Selected hotkey
menu color hotsel 0 #84b8ffff #00000000 none

# Unselected hotkey
menu color hotkey 0 #ffffffff #00000000 none

# Help text
menu color help 0 #ffffffff #00000000 none

# A scrollbar of some type? Not sure.
menu color scrollbar 0 #ffffffff #ff355594 none

# Timeout msg
menu color timeout 0 #ffffffff #00000000 none
menu color timeout_msg 0 #ffffffff #00000000 none

# Command prompt text
menu color cmdmark 0 #84b8ffff #00000000 none
menu color cmdline 0 #ffffffff #00000000 none

# Do not display the actual menu unless the user presses a key. All that is displayed is a timeout message.

menu tabmsg Press Tab for full configuration options on menu items.

menu separator # insert an empty line
menu separator # insert an empty line

label linux
  menu label ^Install RHEL CoreOS
  kernel /images/vmlinuz
  append initrd=/images/initramfs.img nomodeset rd.neednet=1 coreos.inst=yes

label linuxbootstrap
  menu label ^Install RHEL CoreOS Bootstrap
  kernel /images/vmlinuz
  append initrd=/images/initramfs.img nomodeset rd.neednet=1 coreos.inst=yes ip=10.1.11.172::10.1.11.254:255.255.252.0:bootstrap.ocp4.tkagn.io::none:10.1.11.164 coreos.inst.install_dev=sda coreos.inst.image_url=http://ocp4-services.tkagn.io:8000/rhcos-4.5.2-x86_64-metal.x86_64.raw.gz coreos.inst.ignition_url=http://ocp4-services.tkagn.io:8000/bootstrap.ign

label linuxmaster0
  menu label ^Install RHEL CoreOS Control Plane (Master0)
  kernel /images/vmlinuz
  append initrd=/images/initramfs.img nomodeset rd.neednet=1 coreos.inst=yes ip=10.1.11.198::10.1.11.254:255.255.252.0:master0.ocp4.tkagn.io::none:10.1.11.164 coreos.inst.install_dev=sda coreos.inst.image_url=http://ocp4-services.tkagn.io:8000/rhcos-4.5.2-x86_64-metal.x86_64.raw.gz coreos.inst.ignition_url=http://ocp4-services.tkagn.io:8000/master.ign

label linuxmaster1
  menu label ^Install RHEL CoreOS Control Plane (Master1)
  kernel /images/vmlinuz
  append initrd=/images/initramfs.img nomodeset rd.neednet=1 coreos.inst=yes ip=10.1.11.250::10.1.11.254:255.255.252.0:master1.ocp4.tkagn.io::none:10.1.11.164 coreos.inst.install_dev=sda coreos.inst.image_url=http://ocp4-services.tkagn.io:8000/rhcos-4.5.2-x86_64-metal.x86_64.raw.gz coreos.inst.ignition_url=http://ocp4-services.tkagn.io:8000/master.ign

label linuxmaster2
  menu label ^Install RHEL CoreOS Control Plane (Master2)
  kernel /images/vmlinuz
  append initrd=/images/initramfs.img nomodeset rd.neednet=1 coreos.inst=yes ip=10.1.11.195::10.1.11.254:255.255.252.0:master2.ocp4.tkagn.io::none:10.1.11.164 coreos.inst.install_dev=sda coreos.inst.image_url=http://ocp4-services.tkagn.io:8000/rhcos-4.5.2-x86_64-metal.x86_64.raw.gz coreos.inst.ignition_url=http://ocp4-services.tkagn.io:8000/master.ign

label linuxworker
  menu label ^Install RHEL CoreOS Compute (Worker0)
  kernel /images/vmlinuz
  append initrd=/images/initramfs.img nomodeset rd.neednet=1 coreos.inst=yes ip=10.1.11.150::10.1.11.254:255.255.252.0:worker0.ocp4.tkagn.io::none:10.1.11.164 coreos.inst.install_dev=sda coreos.inst.image_url=http://ocp4-services.tkagn.io:8000/rhcos-4.5.2-x86_64-metal.x86_64.raw.gz coreos.inst.ignition_url=http://ocp4-services.tkagn.io:8000/worker.ign

label linuxocsworker0
  menu label ^Install RHEL CoreOS Compute (OCS Worker0)
  kernel /images/vmlinuz
  append initrd=/images/initramfs.img nomodeset rd.neednet=1 coreos.inst=yes ip=10.1.8.16::10.1.11.254:255.255.252.0:ocs0.ocp4.tkagn.io::none:10.1.11.164 coreos.inst.install_dev=sda coreos.inst.image_url=http://ocp4-services.tkagn.io:8000/rhcos-4.5.2-x86_64-metal.x86_64.raw.gz coreos.inst.ignition_url=http://ocp4-services.tkagn.io:8000/worker.ign

label linuxocsworker1
  menu label ^Install RHEL CoreOS Compute (OCS Worker1)
  kernel /images/vmlinuz
  append initrd=/images/initramfs.img nomodeset rd.neednet=1 coreos.inst=yes ip=10.1.8.17::10.1.11.254:255.255.252.0:ocs1.ocp4.tkagn.io::none:10.1.11.164 coreos.inst.install_dev=sda coreos.inst.image_url=http://ocp4-services.tkagn.io:8000/rhcos-4.5.2-x86_64-metal.x86_64.raw.gz coreos.inst.ignition_url=http://ocp4-services.tkagn.io:8000/worker.ign

label linuxocsworker2
  menu label ^Install RHEL CoreOS Compute (OCS Worker2)
  kernel /images/vmlinuz
  append initrd=/images/initramfs.img nomodeset rd.neednet=1 coreos.inst=yes ip=10.1.8.24::10.1.11.254:255.255.252.0:ocs2.ocp4.tkagn.io::none:10.1.11.164 coreos.inst.install_dev=sda coreos.inst.image_url=http://ocp4-services.tkagn.io:8000/rhcos-4.5.2-x86_64-metal.x86_64.raw.gz coreos.inst.ignition_url=http://ocp4-services.tkagn.io:8000/worker.ign

menu separator # insert an empty line

menu end

